html {
    font-family: "Lemonada", cursive;
}
body {
    font-family: "Lemonada", cursive;
}
section {
    position: relative;
    margin-top: 13px;
    padding: 10px;
}
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #fec107;
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #fec107;
}
.infos {
    background-color: rgba(0, 0, 0, 0.7);
    position: relative;
    width: 100%;
    height: 275px;
    padding: 10px;
}
.part1 {
    float: left;
    position: relative;
    height: 20%;
    top: -7rem;
}

.movie_image {
    position: relative;
    top: 9rem;
    left: 5rem;
}

.movie_image img {
    border: 1px solid #fec107;
    border-radius: 4px;
    padding: 5px;
    width: 178px;
    position: relative;
    top: -2rem;
}

.part2 {
    /* float: right; */
    text-align: right;
    position: relative;
    height: 20%;
    /* top: -7rem; */
}
.cat {
    display: flex;
}
.cra {
    display: flex;
}
.date {
    display: flex;
}
.imdb {
    display: flex;
}
.dura {
    display: flex;
}
.qua {
    display: flex;
}
.lan {
    margin-bottom: 1em;
}
.con {
    margin-bottom: 1em;
}
.sto {
    margin-bottom: 1em;
}
.cat h4 {
    margin: 0px;
    margin-left: 17px;
    padding-bottom: 1rem;
}

.cra h4 {
    margin: 0px;
    margin-left: 17px;
    padding-bottom: 1rem;
}
.eng {
    position: relative;
    left: 27rem;
    /* top: -4rem; */
    bottom: 18rem;
}

span {
    color: #fec107;
    font-family: "Lemonada", cursive;
}

.eng h1 {
    color: #fec107;
    font-size: 3rem;
    font-family: "Lemonada", cursive;
}
.eng h4 {
    color: #fff;
    font-family: "Lemonada", cursive;
}
.arb h4 {
    display: unset;
    color: #fff;
    font-family: "Lemonada", cursive;
}
.eng h4 {
    display: flex;
}
.arb {
    float: right;
    position: relative;
    bottom: -6rem;
    width: 40%;
    /* right: -93rem; */
}
.adb {
    background-color: rgba(0, 0, 0, 0.7);
    height: 60px;
    width: 100%;
    position: relative;
    padding: 10px;
    top: 1em;
}
.adb p {
    text-align-last: center;
    font-family: "Lemonada", cursive;
}

@media screen and (min-width: 320px) and (max-width: 500px) {
    .dropHeader {
        left: 53px;
    }
}

@media (min-width: 320px) and (max-width: 600px) {
    .infos {
        height: 770px;
    }

    .eng {
        left: 0rem;
        top: 9rem;
    }

    .part2 {
        top: 33rem;
        /* left: -91rem; */
    }

    .arb {
        width: 95%;
    }
}
@media (min-width: 601px) and (max-width: 1000px) {
    .infos {
        height: 526px;
    }
    .part2 {
        top: 11rem;
        /* right: 70rem; */
    }
    .arb {
        width: 65%;
    }
}
@media (min-width: 1000px) and (max-width: 1580px) {
    .part2 {
        /* right: 30rem; */
    }
}

.watching {
    position: relative;
    z-index: 20;
    top: 3rem;
    padding: 30px;
    display: flex;
    flex-wrap: wrap;
}

.streaming {
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    flex-direction: row-reverse;
}
.boxx1 {
    background-color: rgba(0, 0, 0, 0.7);
}
.streaming > .boxx1 {
    max-width: 222px;
    min-width: 222px;
    padding-top: 10px;
    flex: 1;
    margin-right: -28px;
    max-height: 500px;
    margin-left: 14px;
    overflow: auto;
}
.streaming > .boxx1 a {
    display: block;
    background: #fec107;
    height: 40px;
    cursor: pointer;
    color: black;
    margin-bottom: 19px;
    position: relative;
    font-family: "Lemonada", cursive;
    vertical-align: top;
    line-height: 40px;
    border-radius: 13px;
    font-size: 13px;
    text-align: center;
}
.streaming > .boxx1 a.activeme {
    background-color: black;
    color: #fec107;
}
.actors {
    position: relative;
    top: 59px;
}
.streaming > .boxx2 {
    flex: 1;
    padding-bottom: 35%;
    left: -15px;
    max-height: 0;
    position: relative;
    margin-bottom: 40px;
}

.my-watch {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 25px 18px 52px -13px;
    height: 100%;
    position: absolute;
    width: 100%;
    top: 0;
    right: 0;
    /* padding-top: 27px; */
    /* padding-left: 19px; */
    padding-right: -5px;
    /* position:relative; */
    overflow: hidden;
    /* padding-bottom: 44.25%; */
}
.streaming > .boxx2 .my-watch * {
    height: 100%;
    width: 100%;
}
.streaming > .boxx3 {
    max-width: 245px;
    min-width: 222px;
    flex: 1;
    left: -29px;
    position: relative;
    margin-right: 14px;
    background-color: rgba(0, 0, 0, 0.7);
    height: 60vh;
}

.actor {
    padding: 10px;
}
.actor-info {
    display: inline-flex;
    width: 108%;
}
.actor-info img {
    width: 100px;
    height: 100px;
}
.actor-name {
    padding-left: 14px;
    padding-top: 13px;
}
.actor-name h2 {
    font-family: "Lemonada", cursive;
    color: #fff;
    font-size: 12px;
}
.actor-name span h2 {
    font-family: "Lemonada", cursive;
    color: #fec107;
    font-size: 12px;
    padding-top: 20px;
}

@media only screen and (max-width: 1000px) {
    .streaming > .boxx1 {
        min-width: 207px;
        max-width: 180px;
        overflow: auto;
        padding-top: 9px;
    }
}

@media only screen and (max-width: 800px) {
    .streaming > .boxx1 a {
        margin-bottom: 6px;
    }
    .streaming > .boxx2 {
        min-width: 370px;
        top: 19px;
        padding-bottom: 45%;
    }
}

@media only screen and (max-width: 500px) {
    .watching {
        padding: 10px;
    }
    .streaming > .boxx1 {
        max-width: inherit;
        overflow: auto;
        max-height: initial;
        margin: 0;
        top: 18px;
        position: relative;
        flex-wrap: wrap;
        display: flex;
        min-width: 100%;
    }
    .streaming > .boxx1 a {
        min-width: 100px;
        height: 22px;

        padding-right: 12px;
        line-height: 21px;
        font-size: 9px;
        flex: 1;
    }
    .streaming > .boxx2 {
        min-width: 100%;
        top: 34px;
        left: 2px;
    }
    .streaming > .boxx3 {
        top: 9px;
        left: 0px;
        height: auto;
    }
    .actors {
        top: 6px;
    }
}

@media screen and (min-width: 500px) and (max-width: 800px) {
    .streaming > .boxx3 .actors {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .actors {
        top: -6px;
    }
    .streaming > .boxx3 {
        left: -67px;
        /* padding-left: 9px; */
        min-width: fit-content;
        top: 11px;
        height: 21vh;
    }
    .actor-info {
        width: 105%;
        display: block;
    }
}

.the-actors {
    background-color: rgba(0, 0, 0, 0.7);
}

.adb1 {
    background-color: rgba(0, 0, 0, 0.7);
    height: 42px;
    width: 100%;
    position: relative;
    padding: 10px;
    top: 2em;
}
.adb1 p {
    text-align-last: center;
    font-family: "Lemonada", cursive;
}

.adb1 .titles {
    text-align: center;
    left: -57px;
    position: absolute;
}

.main {
    display: inline-block;
    /* margin: 30px; */
    position: relative;
    width: 150px;
    top: -12px;
    float: right;
    text-align: left;
}
label {
    width: 100%;
    position: absolute;
    line-height: 45px;
    top: 0px;
    left: 0px;
    padding-left: 20px;
    font-weight: 700;
    -webkit-transition: 0.04s ease-in-out;
    transition: 0.04s ease-in-out;
}
.list {
    width: 124%;
    position: absolute;
    z-index: 1;
    top: 45px;
    left: 0px;
    visibility: hidden;
    opacity: 0;
    cursor: pointer;
    -webkit-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
}
.item {
    width: 100%;
    line-height: 45px;
    padding-left: 20px;
    background-color: rgba(0, 0, 0, 0.7);
    -webkit-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
    font-weight: 400;
}
.dropHeader:hover {
    color: #fec107;
}
.item:hover {
    background-color: #fec107;
    color: black;
}

/**********
        ***********/

#drop-1:checked ~ .list-1 {
    visibility: visible;
    opacity: 2;
    z-index: 21;
    left: -26px;
}

.themoviename {
    display: flex;
}
