@import url('https://fonts.googleapis.com/css?family=Noto+Sans&display=swap');

:root {
	--color-primary: #D7A200;
	--color-primary-dark: #1e679b;
	--color-primary-dark-btn: #164769;
	--color-primary-light: #228bd6;
	--color-secondary: #e1bf00;
	--color-black: #000;
	--color-black-light: #141414;
	--color-bg-primary: #131313;
	--color-bg-header: #ffca28;
	--color-bg-light: #272020;
	--color-text: #ebebeb;
	--color-text-dark: #959595;
}

*,
::before,
::after {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: inherit;
	box-sizing: inherit
}

html {
    min-height: 100%;
	font-size: 62.5%;
	-webkit-box-sizing: border-box;
	box-sizing: border-box
}

@media (max-width: 1200px) {
	html {
		font-size: 57%
	}
}

@media (max-width: 900px) {
	html {
		font-size: 55%
	}
}




body {
	font-size: 1.8rem;
	line-height: 1.35;
	font-family: 'Noto Sans', sans-serif;
	background-color: var(--color-bg-primary);
	/*min-height: 300vh;*/
	color: var(--color-text);
    min-height:100vh;
}




.container1 {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 0 8rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    WIDTH: 99%;
    margin: 0 auto;
    margin-top: -5px;
}

@media (max-width: 900px) {
	.container1 {
		padding: 0 4rem
	}
}

@media (max-width: 600px) {
	.container1 {
		padding: 0
	}
}

@media (min-width: 1400px) {
	.container1 {
		padding: 0 15rem
	}
}

@media (min-width: 1800px) {
	.container1 {
		margin-top: -5px;
		padding: 17px 20rem;
	}
	.akali {
		margin-top: 5px;

	}
}




.colling {
	position: relative;
	-webkit-box-flex: 0;
	-ms-flex: 0 0 16.66666667%;
	flex: 0 0 16.66666667%
}

@media (max-width: 900px) {
	.colling {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 25%;
		flex: 0 0 25%
	}
}

@media (max-width: 600px) {
	.colling {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 50%;
		flex: 0 0 50%
	}
}

@media (min-width: 1800px) {
	.colling {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 12.5%;
		flex: 0 0 15.5%;
		margin-top: -21px;
	}
}

.poster {
	height: 21vw
}

@media (max-width: 1200px) {
	.poster {
		height: 20vw
	}
}

@media (max-width: 900px) {
	.poster {
		height: 31vw
	}
}

@media (max-width: 600px) {
	.poster {
		height: 75vw
	}
}

@media (min-width: 1400px) {
	.poster {
		height: 18vw
	}
}

@media (min-width: 1800px) {
	.poster {
		height: 15vw
	}
}












.poster {
	position: relative;
    overflow: hidden;
    border-radius: 3px;
    -webkit-transition: all .3s;
    transition: all .3s;
    -webkit-box-shadow: 0 1rem 3rem rgb(0 0 0 / 30%);
    box-shadow: 0 1rem 3rem rgb(0 0 0 / 30%);
    margin-left: 1em;
    margin-top: 1em;
    margin-bottom: 1em;
}

.poster__watched {
	top:1rem;
	left:1rem;
	z-index: 50;
	color:#fff;
	opacity: .4;
}

.poster__eps {
	z-index: 50;
	color: black;
	right: 1rem;
	top: 1rem;
	background-color: var(--color-primary);
	opacity: .3;
	box-shadow: 0 1rem 5rem rgba(0, 0, 0, 1)
}

.poster__link>* {
	position: absolute;
	-webkit-transition: all .2s;
	transition: all .2s
}

.poster__img {
	width: 100%;
	height: 100%
}


.poster__button {
	position: absolute;
	top: 45%;
	left: 50%;
	color: #fff;
	display: none;
    margin-top: 2rem;
    margin-left: 2rem;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	width: 10rem;
	height: 10rem
}

.poster__button:hover {
	-webkit-transform: translate(-50%, -50%) scale(1.2);
	transform: translate(-50%, -50%) scale(1.2);
	color: var(--color-primary)
}

.poster__play-icon {
	width: inherit;
	height: inherit;
	fill: currentColor
}

.poster__title{
	bottom: 0;
	text-align: center;
	left: 0;
	color: #fff;
	padding: .4rem;
	font-size: 1.1rem;
	width: 100%;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	background-color: rgba(0, 0, 0, 0.8);
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.poster__title a{
    text-align: center;
    left: 0;
    color: #fff;
    padding: .4rem;
    font-size: 1.5rem;
    text-decoration: none;
}

.caption {
	font-size: 1rem;
	bottom: 0;
	width: 100%;
	padding: 3px;
	text-overflow: ellipsis;
	overflow: hidden;
	display:flex;
	justify-content: space-between;
	transition:all .3s;
	margin-bottom: -2.3rem;
}

.poster:hover .caption {
	margin-bottom: 0;
}

.poster:hover .poster__title {
	white-space: normal;
	text-overflow: initial;
}

.poster:hover .poster__img {
	-webkit-filter: brightness(30%);
	filter: brightness(30%)
}

.poster:hover .poster__button {
	display: block
}

.poster:hover .poster__eps, .poster:hover .poster__watched {
	opacity: 1
}

.ribbon{
    position: absolute;
    left: -5px;

    top: -5px;
    z-index: 1;
    overflow: hidden;
    width: 75px;
    height: 75px;
}
.ribbon > .r3 span {
    background: #06c;
}
.ribbon span {
    font-size: 15px;
    color: #fff;
    text-align: center;
    transform: rotate(
-45deg
);
    -webkit-transform: rotate(
-45deg
);
    width: 100px;
    display: block;
    background: #ff4136;
    background: linear-gradient(#F70505 0%,#ff4136 100%);
    box-shadow: 0 3px 10px -5px #000;
    position: absolute;
    top: 19px;
    left: -21px;
    font-weight: 700;
    line-height: 20px;
}
.ribbon.r3 span:before {
    border-left-color: #06c;
    border-top-color: #06c;
}
.ribbon span:before {
    content: '';
    position: absolute;
    left: 0;
    top: 100%;
    z-index: -1;
    border-left: 3px solid #ff4136;
    border-right: 3px solid transparent;
    border-bottom: 3px solid transparent;
    border-top: 3px solid #ff4136;
}
.ribbon.r3 span:after {
    border-right-color: #06c;
    border-top-color: #06c;
}
.ribbon span:after {
    content: '';
    position: absolute;
    right: 0%;
    top: 100%;
    z-index: -1;
    border-right: 3px solid #ff4136;
    border-left: 3px solid transparent;
    border-bottom: 3px solid transparent;
    border-top: 3px solid #ff4136;
}
.again{
    margin-top: 5px;
}
